.navigation {
    display: flex;
    justify-content: space-between;
    background-color:#FF5C39;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    /* justify-content: space-between;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FF5C39;
    box-shadow: 0 4px 4px -3px #232323;
    -moz-box-shadow: 0 4px 4px -3px #232323;
    -webkit-box-shadow: 0 4px 4px -3px #232323;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    padding: 10px; */
}

.navigation span {
    padding: 10px;
    font-size: 20px;
    justify-content: center;
}

.navigation span#logo {
    color: #FAE5D3;
    font-family: 'Patua One', cursive;
    font-size: 18px;
    text-shadow: 2px 2px 8px black;
}

.navigation span#logo:hover {
    text-shadow: 4px 4px 10px black;
}

.navigation a {
    text-decoration: none;
    color: #FAE5D3;
}

.main {
    display: flex;
    justify-content: center;
}

.main > div {
    background-color: mediumaquamarine;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    border-radius: 25px;
}