extends main

block nav
  script(src='/scripts/menu.js')
  .title.create= title

block content
  script(src='/scripts/create.js')
  .content
    form(id="create", name="create-game")
      input.create(id="create-name", placeholder="NAME")
      i.fas.fa-random(id="create-random")
    a.gameBtn.submitBtn#submit Submit