extends main

block nav
  script(src='/scripts/menu.js')
  .title.create= title

block content
  script(src='/scripts/create.js')
  form(id="create", name="createGame", method="POST", action="/create-room")
    .outerForm#createForm
      .inputCol
        input.createName(id="name", name="username", placeholder="NAME", autocomplete="off")
        input.submitBtn(type="submit", value="Submit")
      .randomCol
        i.fas.fa-random(id="createRandom")