extends main

block head
  link(rel='stylesheet', href='/stylesheets/game.css')

block nav
  script(src='/scripts/menu.js')
  .menuwrapper
      nav
        a.logo(href="/") Secret Hitler
        .menu-icon
          i.fa.fa-bars.fa-2x
        .menu
          ul
            li
              a(href='#') About
            li
              a(href='#') Help
            li
              a(href='#') Settings

block content
    script(src='/scripts/game.js')
    .card
      .character.noselect
          img(src='https://joeschmoe.io/api/v1/random')
      .navbuttons
          ion-icon(name='contacts').partybtn
          ion-icon(name='contact').charbtn
          ion-icon(name='checkbox-outline').votebtn
      .messages
          .icon.partyname.hidden.noselect PartyName
          .icon.charname.hidden.noselect CharName
          .icon.voting.hidden Vote
