extends main

block nav
  script(src='/scripts/menu.js')
  .menuwrapper
      nav
        a.logo(href="/") Secret Hitler
        .menu-icon
          i.fa.fa-bars.fa-2x
        .menu
          ul
            li
              a(href='#') About
            li
              a(href='#') Item1
            li
              a(href='#') Item2
            li
              a(href='#') Contact

block content
  .start
    script(src='/scripts/homepage.js')
    section.homepage
        .flex
            .col-100
                .card
                    .character.noselect
                        img(src='https://joeschmoe.io/api/v1/random')
                    .navbuttons
                        ion-icon(name='contacts').partybtn
                        ion-icon(name='contact').charbtn
                        ion-icon(name='checkbox-outline').votebtn
                    .messages
                        .icon.partyname.hidden.noselect PartyName
                        .icon.charname.hidden.noselect CharName
                        .icon.voting.hidden Vote

