extends layout

block content
    script(src='/javascripts/homepage.js')
    section.homepage
        .flex
            .col-100
                .card
                    .character
                        img(src="https://joeschmoe.io/api/v1/random")
                    .navbuttons
                        ion-icon(name='contacts').searchbtn
                        ion-icon(name='contact').userbtn
                        ion-icon(name='done-all').votebtn