extends layout

block content
    script(src='/javascripts/homepage.js')
    section.homepage
        .flex
            .col-100
                .card
                    .character
                        img(src="https://joeschmoe.io/api/v1/random")
                    .navbuttons
                        i.fas.fa-search#searchbtn
                        i.fas.fa-user#userbtn
                        i.fas.fa-vote-yea#votebtn