extends layout

block content
    script(src='/javascripts/homepage.js')
    section.homepage
        .flex
            .col-100
                .card
                    .character.noselect
                        img(src='https://joeschmoe.io/api/v1/random')
                    .navbuttons
                        ion-icon(name='contacts').partybtn
                        ion-icon(name='contact').charbtn
                        ion-icon(name='checkbox-outline').votebtn
                    .roles
                        h1.partyname.hidden.noselect PartyName
                        h1.charname.hidden.noselect CharName
