doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width,initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/startpage.css')
    script(src='https://code.jquery.com/jquery-3.2.1.js')
    link(rel='stylesheet', href="https://fonts.googleapis.com/css?family=Raleway", type='text/css')
  body
    section.startpage
      a.button.btnFade.btnOrange Create Game
      a.button.btnFade.btnOrange Join Game
