doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/homepage.css')
    script(src='https://code.jquery.com/jquery-3.2.1.js')
    link(href='https://fonts.googleapis.com/css?family=Raleway', rel='stylesheet')
  body
    .menuwrapper
      nav
        .logo Secret Hitler
        .menu-icon
          i.fa.fa-bars.fa-2x
        .menu
          ul
            li
              a(href='#') About
            li
              a(href='#') Item1
            li
              a(href='#') Item2
            li
              a(href='#') Contact
    block content
