doctype html
html
  head
    title= title
    
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/homepage.css')
    script(src='https://code.jquery.com/jquery-3.2.1.js')
    link(href='https://fonts.googleapis.com/css?family=Raleway', rel='stylesheet')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.7.2/css/all.css', integrity='sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr', crossorigin='anonymous')
    script(src='/javascripts/menu.js')
  body
    .menuwrapper
      nav
        .logo Secret Hitler
        .menu-icon
          i.fa.fa-bars.fa-2x
        .menu
          ul
            li
              a(href='#') About
            li
              a(href='#') Item1
            li
              a(href='#') Item2
            li
              a(href='#') Contact
    block content
