extends main

block head
  script(src='scripts/lobby.js')
  link(rel='stylesheet', href='/stylesheets/lobby.css')

block nav
  script(src='/scripts/menu.js')
  .menuwrapper
      nav
        a.logo(href="/") Secret Hitler
        .menu-icon
          i.fa.fa-bars.fa-2x
        .menu
          ul
            li
              a(href='#') About
            li
              a(href='#') Help
            li
              a(href='#') Settings

block content
  .lobbyHeader
    i.fas.fa-skull
    .lobbyTitle Lobby
    i.fas.fa-skull
  .lobbyEnvelope
    span Welcome, #{username} to 
    span#roomName
    span  room
    .lobbyPostcard
      .heading 1934
      p Please join us at the room. We need to discuss
      | matters immediately
    i.far.fa-copy
  .playerList Players
    ul.fa-ul
      li
        i.fas.fa-user 
        |  #{username}
      li
        i.fas.fa-user 
        |  definitely liberal