doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width,initial-scale=1')
    link(href='https://fonts.googleapis.com/css?family=Raleway', rel='stylesheet')
    link(href="https://fonts.googleapis.com/css?family=Open+Sans", rel="stylesheet", type='text/css')
    link(href="https://fonts.googleapis.com/css?family=Germania+One", rel="stylesheet", type='text/css')
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.8.0/css/all.css", integrity="sha384-Mmxa0mLqhmOeaE8vgOSbKacftZcsNYDjQzuCOm6D02luYSzBG8vpaOykv9lFQ51Y", crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/main.css')
    script(src='https://code.jquery.com/jquery-3.2.1.js')
    script(src="https://unpkg.com/ionicons@4.4.4/dist/ionicons.js")
    script(src='scripts/main.js')
    block head
  navbar
    block nav
  body
    block content
    block footer
      footer
        | Adapted from 
        a(href="https://secrethitler.com") Secret Hitler
        |  a game by Goat, Wolf and Cabbage
