doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width,initial-scale=1')
    link(href="https://fonts.googleapis.com/css?family=Patua+One", rel="stylesheet", type='text/css')
    link(href="https://fonts.googleapis.com/css?family=Raleway", rel="stylesheet", type='text/css')
    link(rel='stylesheet', href='/stylesheets/start.css')
    script(src='https://code.jquery.com/jquery-3.2.1.js')
    link(rel='stylesheet', href="https://fonts.googleapis.com/css?family=Raleway", type='text/css')
  body
    header= title
    section.start
      .buttonwrap
        a.gameBtn.createBtn Create Game
        a.gameBtn.joinBtn Join Game

