doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width,initial-scale=1')
    link(href="https://fonts.googleapis.com/css?family=Patua+One", rel="stylesheet", type='text/css')
    link(href="https://fonts.googleapis.com/css?family=Raleway", rel="stylesheet", type='text/css')
    link(href="https://fonts.googleapis.com/css?family=Permanent+Marker", rel="stylesheet", type='text/css')
    link(rel='stylesheet', href='/stylesheets/start.css')
    link(rel='stylesheet', href="https://fonts.googleapis.com/css?family=Raleway", type='text/css')
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.7.2/css/all.css", integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr", crossorigin="anonymous")
    script(src='https://code.jquery.com/jquery-3.2.1.js')
  body
    header= title
    .label.topLabel CAN YOU FIND AND STOP THE...
    .start
      a.gameBtn.createBtn Create
      a.gameBtn.joinBtn Join
    .label.bottomLabel ...SECRET HITLER?
    footer
      | Adapted from 
      a(href="https://secrethitler.com") Secret Hitler
      |  a game by Goat, Wolf and Cabbage
