extends main

block nav
  .title= title

block content
  .content
    a.gameBtn.createBtn(href="create") CREATE
    a.gameBtn.joinBtn JOIN
    a.gameBtn.helpBtn(href="help") HELP
    a.i.fas.fa-cog(href="game")