// Colors
$light-blue: #7EC9DD
$bg-yellow: #FBB969
$fg-yellow: #FAD691
$orange: #F2644B

.content
  display: flex
  flex-direction: column
  justify-content: space-between

#lobbyTitle
  font-size: 1.5rem
  text-align: center
  margin: 5px
  padding: 10px

.playerIcons
  display: flex
  flex-direction: row
  width: 100%
  background: $bg-yellow
  justify-content: center

.playerList
  background: red

#name
  background: $orange
#otherPlayer
  background: green

#user
  background: $orange
  padding: 10px
  margin: 5px
  color: white

.startBtn
  background: green
  padding: 10px
  margin-bottom: 20px
  
  