body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fad691;
  font-family: "Open Sans";
  min-height: 100vh;
  overflow: hidden;
  margin: 0;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  color: #00B7FF;
}

.col-30 {
  width: 30%;
}

.col-40 {
  width: 40%;
}

.col-50 {
  width: 50%;
}

.col-60 {
  width: 60%;
}

.col-70 {
  width: 70%;
}

.col-100 {
  width: 100%;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex--center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex--space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex--start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.order-first {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.menuwrapper {
  z-index: 6;
}

.menuwrapper .logo {
  background: #F2644B;
  font-family: "Germania One";
  color: #FDE1C0;
  text-shadow: 5px 3px #434243;
  text-align: center;
  display: block;
  z-index: 6;
  position: fixed;
  float: left;
  margin: 16px 36px;
  top: 0;
  margin-top: 17px;
  font-weight: bold;
  font-size: 24px;
  text-decoration: none;
}

.menuwrapper nav {
  z-index: 6;
  width: 100%;
  position: fixed;
  line-height: 25px;
}

.menuwrapper nav ul {
  max-height: 0px;
  max-width: 0px;
  float: right;
  list-style: none;
  background: #24383ef5;
  overflow: hidden;
  color: #ffffff;
  padding: 0;
  margin: 0;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

.menuwrapper nav ul li {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  padding: 24px 0;
}

.menuwrapper nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}

.menuwrapper .showing {
  max-height: 30em;
  min-width: 15em;
}

.menuwrapper .menu-icon:active {
  background: #F2644B;
}

.menuwrapper nav.black ul {
  z-index: 6;
  background: #6d97a3f5;
}

.menuwrapper .menu-icon {
  z-index: 6;
  width: 100%;
  background: #F2644B;
  text-align: right;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: #fff;
  display: block;
}

navbar a.title {
  text-decoration: none;
}

navbar .title {
  background: #F2644B;
  font-family: "Germania One";
  color: #FDE1C0;
  font-size: 15vw;
  text-shadow: 5px 3px #434243;
  text-align: center;
}

.start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 767px) {
  .menuwrapper .logo {
    font-size: 5vh;
    margin-left: 15px;
  }
  .menuwrapper .menu-icon {
    font-size: 15px;
  }
  .col-30 {
    width: auto;
  }
  .col-40 {
    width: auto;
  }
  .col-50 {
    width: auto;
  }
  .col-60 {
    width: auto;
  }
  .col-70 {
    width: auto;
  }
  .col-100 {
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */