body
  display: flex
  flex-direction: column
  background: #fad691
  font-family: "Open Sans"
  min-height: 100vh
  overflow: hidden
  margin: 0

.noselect
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
a
  color: #00B7FF

.col-30 
  width: 30%

.col-40
  width: 40%

.col-50
  width: 50%

.col-60
  width: 60%

.col-70
  width: 70%

.col-100 
  width: 100%


.flex
  display: flex
  flex-direction: row

.flex--center
  justify-content: center

.flex--space-around
  justify-content: space-around

.flex--start
  justify-content: flex-start

.order-first
  order: -1

.menuwrapper
  z-index: 6
  .logo
    background: #F2644B
    font-family: "Germania One"
    color: #FDE1C0
    text-shadow: 5px 3px #434243
    text-align: center
    display: block
    z-index: 6
    position: fixed
    float: left
    margin: 16px 36px
    top: 0
    margin-top: 17px
    font-weight: bold
    font-size: 24px
    text-decoration: none
  nav
    z-index: 6
    width: 100%
    position: fixed
    line-height: 25px
    ul
      max-height: 0px
      max-width: 0px
      float: right
      list-style: none
      background: #24383ef5
      overflow: hidden
      color: #ffffff
      padding: 0
      margin: 0
      transition: 200ms ease-in-out
      li
        display: block
        box-sizing: border-box
        text-align: center
        padding: 24px 0
        a
          text-decoration: none
          color: #ffffff
          font-size: 20px
          font-family: 'Raleway', sans-serif
  .showing
    max-height: 30em
    min-width: 15em
  .menu-icon:active
    background: #F2644B
  nav.black ul
    z-index: 6
    background: #6d97a3f5
  .menu-icon
    z-index: 6
    width: 100%
    background: #F2644B
    text-align: right
    box-sizing: border-box
    padding: 15px 24px
    cursor: pointer
    color: #fff
    display: block

navbar
  a.title
    text-decoration: none
  .title
    background: #F2644B
    font-family: "Germania One"
    color: #FDE1C0
    font-size: 15vw
    text-shadow: 5px 3px #434243
    text-align: center

.start
  display: flex
  flex: 1
  align-items: center
  justify-content: center
  flex-direction: column

@media only screen and (max-width: 767px)
  .menuwrapper
    .logo
      font-size: 5vh
      margin-left: 15px
    .menu-icon
      font-size: 15px

  .col-30 
    width: auto

  .col-40
    width: auto

  .col-50
    width: auto
  
  .col-60
    width: auto
  .col-70
    width: auto

  .col-100 
    width: 100%
  
  