body {
  display: flex;
  flex-direction: column;
  background: #FAD691;
  font-family: "Open Sans";
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
  margin: 0; }

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

a {
  color: #00B7FF; }

.col-30 {
  width: 30%; }

.col-40 {
  width: 40%; }

.col-50 {
  width: 50%; }

.col-60 {
  width: 60%; }

.col-70 {
  width: 70%; }

.col-100 {
  width: 100%; }

.flex {
  display: flex;
  flex-direction: row; }

.flex--center {
  justify-content: center; }

.flex--space-around {
  justify-content: space-around; }

.flex--start {
  justify-content: flex-start; }

.order-first {
  order: -1; }

navbar {
  z-index: 6;
  height: 4rem; }
  navbar .title {
    background: #F2644B;
    font-family: "Germania One";
    color: #FDE1C0;
    font-size: 4.2rem;
    text-shadow: 5px 3px #434243;
    text-align: center; }
  navbar .logo {
    background: #F2644B;
    font-family: "Germania One";
    color: #FDE1C0;
    text-shadow: 5px 3px #434243;
    text-align: center;
    display: block;
    z-index: 6;
    position: fixed;
    float: left;
    margin: 16px 36px;
    top: 0;
    margin-top: 20px;
    font-weight: bold;
    font-size: 3rem;
    text-decoration: none; }
  navbar nav {
    z-index: 6;
    width: 100%;
    position: fixed;
    line-height: 25px; }
    navbar nav ul {
      max-height: 0px;
      max-width: 0px;
      float: right;
      list-style: none;
      background: #24383ef5;
      overflow: hidden;
      color: #ffffff;
      padding: 0;
      margin: 0;
      transition: 200ms ease-in-out; }
      navbar nav ul li {
        display: block;
        box-sizing: border-box;
        text-align: center;
        padding: 24px 0; }
        navbar nav ul li a {
          text-decoration: none;
          color: #ffffff;
          font-size: 20px;
          font-family: 'Open Sans', sans-serif; }
  navbar .showing {
    max-height: 30em;
    min-width: 15em; }
  navbar .menu-icon:active {
    background: #F2644B; }
  navbar nav.black ul {
    z-index: 6;
    background: #6d97a3f5; }
  navbar .menu-icon {
    z-index: 6;
    width: 100%;
    background: #F2644B;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: block; }

.content {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

input {
  background: none;
  border: none; }

input.createName {
  font-size: 1.5rem;
  border-bottom: 1px solid #434343;
  text-align: center; }
  input.createName:focus {
    outline: none;
    border-bottom: 1px solid #F2644B; }

.formContainer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around; }

.outerForm#createForm {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly; }

.inputCol {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px; }

.randomCol {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
  padding-left: 20px; }

i#createRandom {
  color: #F2644B;
  font-size: 2rem; }

input.submitBtn {
  background: #434343;
  color: #FFFFFF;
  text-align: center;
  border-radius: 3px;
  font-size: 1.2rem;
  padding: 10px;
  margin: 10px; }

.btnWrapper {
  flex-direction: row;
  max-width: 50%; }

.label {
  padding: 20px 10px;
  font-size: 3vh; }

.topLabel {
  margin-top: 30px;
  align-self: flex-start; }

.bottomLabel {
  margin-bottom: 30px;
  align-self: flex-end; }

a.gameBtn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px;
  width: 70vw;
  height: 12vh;
  font-family: "Open Sans";
  font-size: 5vh;
  border-radius: 3px;
  color: white;
  text-decoration: none; }

a.createBtn {
  background: #F2644B;
  padding: 2px 2px; }

a.joinBtn {
  background: #7EC9DD;
  padding: 2px 2px; }

a.helpBtn {
  background: #434343;
  height: 6vh;
  font-size: 3vh; }

footer {
  flex: none;
  background: darkgray;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 0.8rem;
  font-family: "Open Sans";
  padding: 5px; }
  footer a {
    color: #FAD691; }

@media only screen and (max-width: 340px) {
  .menuwrapper .logo {
    font-size: 2rem;
    margin-left: 15px; }
  .menuwrapper .menu-icon {
    font-size: 15px; }
  .col-30 {
    width: auto; }
  .col-40 {
    width: auto; }
  .col-50 {
    width: auto; }
  .col-60 {
    width: auto; }
  .col-70 {
    width: auto; }
  .col-100 {
    width: 100%; } }

/*# sourceMappingURL=main.css.map */