body
  background: white
  margin: 0
  padding: 0

header
  background: tomato
  font-family: "Patua One"
  color: #FDE1C0
  font-size: 50px
  text-shadow: 5px 3px #434243
  text-align: center
  height: 7vh
  padding: 0
  z-index: 5

section.start
  z-index: 2
  height: 93vh
  display: flex
  justify-content: center 
  align-items: center
  text-align: center
  font-weight: bold
  font-family: "Raleway"

.buttonwrap
  height: 250px
  display: flex 
  flex-direction: column 
  justify-content: space-around

a.gameBtn
  border-style: solid
  border-color: #F2644B
  margin: 10px 20px 10px 20px
  display: block
  width: 230px
  height: auto
  border-radius: 5px
  
  font: 
    family: 'Raleway', sans-serif
    weight: bold 
    size: 30px

.gameBtn:hover
  background: #DC5B45


@media only screen and (max-width: 767px)
  section.start