.btnWrapper
  flex-direction: row
  max-width: 50%

.label
  padding: 20px 10px
  font-size: 3vh

.topLabel
  margin-top: 30px
  align-self: flex-start

.bottomLabel
  margin-bottom: 30px
  align-self: flex-end

a.gameBtn
  display: inline-flex
  justify-content: center
  align-items: center
  text-align: center
  margin: 20px
  width: 80vw
  height: 12vh
  font-family: "Open Sans"
  font-size: 5vh
  border-radius: 3px
  color: white
  text-decoration: none

a.createBtn
  background: #F2644B
  padding: 2px 2px

a.joinBtn
  background: #4b8ef2
  padding: 2px 2px

a.helpBtn
  background: #434343
  height: 6vh
  font-size: 3vh

footer
  flex: none
  background: darkgray
  color: white
  text-align: center
  padding: 10px
  font-size: 2.2vh
  font-family: "Open Sans"
  padding: 5px

  a
    color: #fad691